<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head>
    <title>Visualizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-2" style="background: #1a6caf; height: 750px">
                <div class="col">
                    <div class="row-2">
                        <a href="/">Home</a>
                    </div>
                    <div class="row-2">
                        <a href="/insertionsort">Insertion Sort</a>
                    </div>
                    <div class="row-2">
                        <a href="/quicksort">Quick Sort</a>
                    </div>
                    <div class="row-2">
                        <a href="/mergesort">Merge Sort</a>
                    </div>
                    <div class="row-2">
                        <a href="/selectionsort">Selection Sort</a>
                    </div>
                </div>
            </div>
            <div class="grid-container-2">
                <div>
                    <h1>Sort Algorithms Visualizer</h1>
                    <p>This application visualizes the most famous sort algorithms processes</p>
                </div>
                <div>
                    <img src="imgs/algo-resume.png"/>
                </div>
            </div>
        </div>

    </div>
</body>

</html>