<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head>
    <title>Visualizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div class="grid-container-0">
        <div class="grid-container-1">
            <div>

            </div>
            <div class="grid-container-3">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/insertionsort">Insertion Sort</a>
                </div>
                <div>
                    <a href="/quicksort">Quick Sort</a>
                </div>
                <div>
                    <a href="/selectionsort">Selection Sort</a>
                </div>
                <div>
                    <a href="/bubblesort">Bubble Sort</a>
                </div>
                <div></div>
                <div></div>
            </div>
            <div class="grid-container-5">
                <label>Parameters</label>
                <div>
                    <label>Size</label>
                    <form method="post" th:object="${size}">
                        <select name="size" id="size">
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="70">70</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                        </select>
                        <input type = "submit" value = "Submit"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="grid-container-2">
            <div>
                <h1>Sort Algorithms Visualizer</h1>
                <p>This application visualizes the most famous sort algorithms processes</p>
            </div>
            <div>
                <img src="imgs/algo-resume.png"/>
            </div>
        </div>
    </div>

</body>

</html>