<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head>
    <title>Visualizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">

</head>

<body>
        <div class="grid-container-0">
            <div class="grid-container-1">
                <div>

                </div>
                <div class="grid-container-3">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    <div>
                        <a href="/insertionsort">Insertion Sort</a>
                    </div>
                    <div>
                        <a href="/quicksort">Quick Sort</a>
                    </div>
                    <div>
                        <a href="/selectionsort">Selection Sort</a>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>

                </div>
            </div>
            <div class="grid-container-2">
                <div>
                    <h1>Sort Algorithms Visualizer</h1>
                    <p>This application visualizes the most famous sort algorithms processes</p>
                </div>
                <div>
                    <canvas id="myCanvas" style="height: 620px; width: 1250px"></canvas>
                </div>
            </div>
        </div>

    <script src="canvas.js"></script>
    <script>

        let canvas = document.getElementById('myCanvas');
        let CANVAS_WIDTH = canvas.width;
        let CANVAS_HEIGHT = canvas.height;
        let X = 20;
        let table = [[${currentTable}]];
        let ctx = canvas.getContext("2d");
        let current = table[0];
        let ARRAY_SIZE = current.length;
        let rect_y =20;
        let rect_width = (CANVAS_WIDTH - 2*X)/(2*ARRAY_SIZE-1);
        ctx.beginPath();
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, 1250, 600)
        ctx.fillStyle = "red";

        for (let j = 0; j < current.length; j++) {

            let rect_height = current[j] * ((CANVAS_HEIGHT-2*X)/ARRAY_SIZE);
            let rect_x =X + j * (rect_width + rect_width);
            console.log(rect_x)

            ctx.rect(rect_x, rect_y , rect_width, rect_height);
            ctx.fill();
        }
        draw(canvas,table);
    </script>

</body>

</html>